#filtro{
    background-color:#f8f9fa;
    width: 300px;
    background: rgba(0, 0, 0, 0,4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 70px;
    border-radius: 10px;
    margin-left: 35px;
}
.error-control {
    border: 1px solid red;
}
  
label.error {
    color: red;
    width: 300px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

form {
    margin: 50px;
    background-color:#f8f9fa;
    background: rgba(0, 0, 0, 0,4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }