<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EVA</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
</head>

<body>
    <!-- Menu NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">EVA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link" style="color:blue" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bienvenid@ {{user}}
                        <div class="dropdown-menu dropdown-user-style" aria-labelledby="navbarDropdownMenuLink">
                            <a class="nav-link dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
                        </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#reguistrarProducto">Registrar un Producto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#reguistrarTienda">Registrar una Tienda</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#login">Iniciar Sesion</a>
                    
                </li>
                {% endif %}

            </ul>
            <!-- Modal Inicio Sesion-->
            <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div style="background-color: #CDCDCD;" class="modal-content">
                        <form id="formulario" method="POST" action="{% url 'login_iniciar' %}" role="login">
                            {% csrf_token %}
                            <center>
                                <h5>Inicio de sesion</h5>
                            </center>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="username">Usuario : </label>
                                    <input type="text" name="username" id="username" class="form-control" placeholder=" Ingrese Usuario "
                                        required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="password">Contraseña:</label>
                                    <input type="password" name="password" id="password" class="form-control"
                                        placeholder="Ingrese Contraseña" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn btn-lg btn-primary btn-block btn-outline-dark p" value="Iniciar Sesion">
                                <a class="btn btn-lg btn-primary btn-block btn-outline-dark p" href="{% url 'registrar' %}">Registrarse</a>
                                <a class="btn btn-lg btn-primary btn-block btn-outline-dark p" href="{% url 'social:begin' 'facebook' %}">Iniciar con Facebook</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal Registro Producto-->
            <div class="modal fade" id="reguistrarProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div style="background-color: #CDCDCD;" class="modal-content">
                        <form id="formulario2" method="POST" action="{% url 'crearProducto' %}" role="reguistrarProducto">
                            {% csrf_token %}
                            <center>
                                <h5>Registro de Productos</h5>
                            </center>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="nombreP">Nombre del producto: </label>
                                    <input type="text" name="nombreP" id="nombreP" class="form-control" placeholder=" Ingrese el nombre del producto"
                                        required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="costoPre">Costo previo:</label>
                                    <input type="text" name="costoPre" id="costoPre" class="form-control" placeholder="Ingrese el costo previo"
                                        required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="costoReal">Costo real:</label>
                                    <input type="text" name="costoReal" id="costoReal" class="form-control" placeholder="Ingrese el costo real"
                                        required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="tienda">Tienda:</label>
                                    <select name="tienda" class="form-control" id="tienda">
                                        <option disabled selected>Seleccione la Tienda</option>
                                        {% for t in tienda %}
                                        <option>
                                            <h6>{{t.nombreT}}</h6>
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="notas">Notas:</label>
                                    <input type="text" name="notas" id="notas" class="form-control" placeholder="Escriba una nota del producto"
                                        required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="imagen">Foto del producto:</label>
                                    <input type="file" name="imagen" class="form-control" placeholder="Cargue foto del producto">
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn btn-lg btn-primary btn-block btn-outline-dark p" value="Registrar Producto">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal Registro Tienda -->
            <div class="modal fade" id="reguistrarTienda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div style="background-color: #CDCDCD;" class="modal-content">
                        <form id="formulario2" method="POST" action="{% url 'crearTienda' %}" role="registrarTienda">
                            {% csrf_token %}
                            <center>
                                <h5>Registro de Tiendas</h5>
                            </center>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="NombreT">Nombre(*)</label>
                                    <input type="text" name="nombreT" id="nombreT" class="form-control" placeholder="Ingrese el nombre"
                                        required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="NombreSucursal">Nombre sucursal</label>
                                    <input type="text" name="nombreS" id="nombreS" class="form-control" placeholder="Ingrese el nombre de la sucursal">
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="region">Region(*)</label>
                                    <select name="region" class="form-control" id="region">
                                        <option disabled selected>Seleccione Regíon</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="ciudad">Ciudad(*)</label>
                                    <input type="text" name="ciudad" id="ciudad" class="form-control" placeholder="Ingrese la ciudad">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="Direccion">Direccion(*)</label>
                                    <input type="text" name="direccion" id="direccion" class="form-control" placeholder="Ingrese la direccion">
                                </div>
                            </div>


                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn btn-lg btn-primary btn-block btn-outline-dark p" value="Registrar Tienda">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--Fin menu NAVBAR-->
    <div class="row">
        <div class="col-md-4">
            <form action="" id="filtro">
                <center>
                    <a face="verdana" size="5">Su presupuesto</a>
                </center>
                <!--<input type="button" value="MODO ARRENDADOR" id="volver">-->
                <input type="text" name="presupuesto" placeholder="Ingrese su presupuesto">
                <input type="submit" value="Ingresar" id="boton">
            </form>
        </div>
        <div class="col-md-8" style="width: 100%">
            {% for p in producto %}
            <div style="margin: 50px;background-color:#f8f9fa;border-radius: 10px;padding: 10px 20px;">
                <h6>Nombre Producto:  {{p.nombreP}}</h6>
                <h6>Costo Previo:     {{p.costoPre}}</h6>
                <h6>Costo Real:       {{p.costoReal}}</h6>
                <h6>Tienda:           {{p.tienda}}</h6>
                <h6>Notas:            {{p.notas}}</h6>
            </div>
            {% endfor %}
        </div>
        <br />
        <br>

    </div>
    <p>Hay {{count}} ususarios registrados</p>

    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>