<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EVA</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
</head>

<body>
    <!-- Menu NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">EVA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
    </nav>
    <!--Fin menu NAVBAR-->

    <form id="formulario" method="POST" action="{% url 'crear' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="Correo">Correo electronico : </label>
                    <input type="email" name="correo" id="correo" class="form-control" placeholder="Ingrese su correo electronico"
                        required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <label for="fecNacimiento">Fecha de Nacimiento : </label>
                    <input type="date" name="fechNacimiento" class="form-control" id="" required max="2000-11-28">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
                <div class="form-group">
                    <label for="Rut">Run : </label>
                    <input type="text" name="rut" id="rut" class="form-control" placeholder="9999999-9" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="username">Usuario : </label>
                    <input type="text" name="username" id="username" class="form-control" placeholder=" Ingrese Usuario "
                        required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Ingrese Contraseña"
                        required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="Nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese Nombre"
                        required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="Apellido">Apellido:</label>
                    <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Ingrese apellido"
                        required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="region">Region :</label>
                    <select name="region" class="form-control" id="region">
                        <option disabled selected>Seleccione Regíon</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="comuna">Comuna :</label>
                    <select class="form-control" name="comuna" id="comuna">
                        <option disabled selected>Seleccione Comuna</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <button class="btn btn-lg btn-primary btn-block btn-outline-dark p" type="reset">Limpiar</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <input type="submit" class="btn btn-lg btn-primary btn-block btn-outline-dark p" value="REGISTRAR">
            </div>
        </div>
    </form>

    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>